<form action='https://enot.io/pay' method='get'>
    <input id='form-input-m' type='hidden' name='m' value='20076'>
    <input id='form-input-oa' type='hidden' name='oa' value='100'>
    <input id='form-input-o' type='hidden' name='o' value='PAY_ID'>
    <input id='form-input-s' type='hidden' name='s' value=<%= key %>>
    <input id='form-input-c' type='hidden' name='c' value='Покупка привилегии на серверах Fame | '>
    <input id='form-input-cf' type='hidden' name='cf' value='Покупка привилегии на серверах Fame |1 '>
    <input class = 'btn btn-lg btn-outline-primary position-absolute top-50 start-50 translate-middle' id='form-input-submit' style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; max-width: 400px; margin: 30px 0 10px' type="submit" value="Перейти к оплате"/>
</form>