<ul class="list-unstyled mt-3 mb-4">
    <li>Префикс [ADMIN]</li>
    <li>2х бонус к опыту</li>
    <li>2х бонус к кредитам</li>
    <li>Приоритет в тех.поддержке</li>
    <li><a class = 'text-decoration-none text-secondary'  href = '/donate/about-admin'>Подробнее</a></li>
</ul>