<ul class="list-unstyled mt-3 mb-4">
    <li>Префикс [DELUXE]</li>
    <li>1.65х бонус к опыту</li>
    <li>1.65х бонус к кредитам</li>
    <li>Доступ ко всем кастом. скинам</li>
    <li><a class = 'text-decoration-none text-secondary'  href = '/donate/about-deluxe'>Подробнее</a></li>
</ul>