<ul class="list-unstyled mt-3 mb-4">
    <li>Префикс [GL.ADMIN]</li>
    <li>Доступ ко всем командам</li>
    <li>Получаете 10% от донатевшего,</li>
    <li>который указал ваш ник</li>
    <li><a class = 'text-decoration-none text-secondary'  href = '/donate/about-gladmin'>Подробнее</a></li>
</ul>