<ul class="list-unstyled mt-3 mb-4">
    <li>Префикс [MODER]</li>
    <li>1.75х бонус к опыту</li>
    <li>1.75х бонус к кредитам</li>
    <li>Приоритет в тех.поддержке</li>
    <li><a class = 'text-decoration-none text-secondary'  href = '/donate/about-moder'>Подробнее</a></li>
</ul>