<ul class="list-unstyled mt-3 mb-4">
    <li>Префикс [PREMIUM]</li>
    <li>1.5х бонус к опыту</li>
    <li>1.5х бонус к кредитам</li>
    <li>Доступ к созданию кланов</li>
    <li><a class = 'text-decoration-none text-secondary'  href = '/donate/about-premium'>Подробнее</a></li>
</ul>