<ul class="list-unstyled mt-3 mb-4">
    <li>Вы получите 1</li>
    <li>предмет из списка</li>
    <li>Видео с открытием рулетки</li>
    <li>отправляется вам в VK/DS/TG</li>
    <li class="text-danger">ТОЛЬКО РУЧНАЯ ОПЛАТА</li>
    <li><a class='text-decoration-none text-secondary' href='/donate/about-roulette'>Содержимое</a></li>
</ul>