<ul class="list-unstyled mt-3 mb-4">
    <li>Префикс [VIP]</li>
    <li>1.2х бонус к опыту</li>
    <li>1.2х бонус к кредитам</li>
    <li>Доступ к /vip</li>
    <li><a class = 'text-decoration-none text-secondary'  href = '/donate/about-vip'>Подробнее</a></li>
</ul>