<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head-new.ejs'); %>
    </head>

    <body class="bg-[#1D1D1D]">
        <div class="text-center">
            <a href='/' class="text-indigo-600 hover:text-indigo-400">На главную</a>
            <div class="text-center text-white text-5xl font-semibold mt-32 sm:mt-48">1 год проекту Fame 🎉</div>
            <div class="sm:min-w-96 mt-[100px]">
                <div class="text-center text-white text-xl font-medium mt-[18px] px-8"><%- name %></div>
            </div>
        </div>
    </body>
</html>