<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <%- include('./partials/navbar.ejs'); %>

    <div>
        <div class="container">
            <div class="text-center text-dark" style = 'padding: 0px 0px 80px'>
                <h1 style = 'margin-top: 190px'>Подробнее о Делюкс</h1>
                <h5>Доступные возможности могут немного отличаться на разных серверах</h5>
                <a href="/donate" class = 'text-secondary text-decoration-none'>Назад</a>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <h5>Эта страница вскоре будет переоформлена</h5>
            <h1 class="text-dark">С этой привилегией вы получите доступ к:</h1>
                <ul class="mx-5">
                    <li>Кастомным скинам на персонажа (скины Premium + некоторые другие (немного позже))</li>
                    <li>Ко всем кастомным скинам на оружие (скины доступные Premium + более качественные скины)</li>
                    <li>х1 шприц со здоровьем каждый раунд</li>
                    <li>Смене медалей профиля</li>
                    <li>Всем иконкам убийств</li>
                    <li>Повышенным бустам опыта, кредитов (х1.65)</li>
                    <li>Скидкам в /shop (15%)</h1></li>
                </ul>
        </div>
    </div>
        <!-- /END THE FEATURETTES -->

    </div>
    <%- include('./partials/footer.ejs'); %>

    <%- include('./partials/body-scripts.ejs'); %>
</body>
</html>