<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <%- include('./partials/navbar.ejs'); %>

    <div>
        <div class="container">
            <div class="text-center text-dark" style = 'padding: 0px 0px 80px'>
                <h1 style = 'margin-top: 190px'>Подробнее о Премиум</h1>
                <a href="/donate" class = 'text-secondary text-decoration-none'>Назад</a>
            </div>
        </div>
    </div>
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/premium/prefix.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Префиксы</h2>
                <p>Обладатели Премиум-статуса имеют доступ к нескольким префиксам на выбор</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/premium/aura.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Аура</h2>
                <p>Обладатели Премиум-статуса имеют доступ к ауре</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle"width="140" height="140" src = '/img/donate/gift.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>    
                <h2>Бонусы</h2>
                <p>Обладатели Премиум-статуса получают в 1.5 раза больше опыта и кредитов. Так же у них действует 10% скидка в /shop</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/premium/boost.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Буст на лестницах</h2>
                <p>Обладатели Премиум-статуса на 50% быстрее поднимаются по лестницам</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/premium/sparks.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Искры</h2>
                <p>Обладатели Премиум-статуса имеют доступ к эффекту искр при попадании</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/premium/show-damage.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Нанесенный урона</h2>
                <p>Обладатели Премиум-статуса имеют доступ к показу нанесенного урона при попадании</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/premium/electro-effect.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Электрический эффект</h2>
                <p>Обладатели Премиум-статуса имеют доступ к электрическим эффектам при выстрелах и убийстве</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/premium/mvp.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Музыкальный набор</h2>
                <p>Обладатели Премиум-статуса имеют доступ к выбору музыкального набора</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/premium/nofall.jpg' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Нет урона от падения</h2>
                <p>Обладатели Премиум-статуса не имеют урона от падения</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/premium/healthshot.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Медшприц</h2>
                <p>Обладатели Премиум-статуса имеют доступ к медшприцу</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Уникальные скины для<span class="text-muted"> premium-игроков</span></h2>
                <p class="lead">Обладатели Премиум-статуса имеют эксклюзивные скины, доступные только донатерам: Putin и H1t1er</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-pill" src = '/img/donate/premium/skin.jpg' aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Создание кланов</h2>
                <p class="lead">У всех обладателей premium-статуса или более высокой привилегии, есть доступ к созданию кланов с помощью команды /cclan "название клана"</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-pill" src = '/img/donate/premium/clan.png' aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Наклейки на оружие</h2>
                <p class="lead">У всех обладателей premium-статуса или более высокой привилегии, есть доступ к использованию наклеек на оружие.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-pill" src = '/img/donate/premium/sticker.png' aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
            </div>
        </div>
        <br>

        <!-- /END THE FEATURETTES -->

    </div>
    <%- include('./partials/footer.ejs'); %>

    <%- include('./partials/body-scripts.ejs'); %>
</body>
</html>