<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <%- include('./partials/navbar.ejs'); %>

    <div>
        <div class="container">
            <div class="text-center text-dark" style = 'padding: 0px 0px 80px'>
                <h1 style = 'margin-top: 190px'>Подробнее о Модере</h1>
                <a href="/donate" class = 'text-secondary text-decoration-none'>Назад</a>
            </div>
        </div>
    </div>
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/moder/prefix.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Префиксы</h2>
                <p>Обладатели Модера имеют доступ к нескольким префиксам на выбор</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/moder/tagrenade.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Тактическая граната</h2>
                <p>Обладатели Модера имеют доступ к 1 тактической гранате в каждом раунде</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle"width="140" height="140" src = '/img/donate/gift.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>    
                <h2>Бонусы</h2>
                <p>Обладатели Модера получают в 1.75 раза больше опыта и кредитов. Так же у них действует 15% скидка в /shop</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/moder/revival.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Возрождение</h2>
                <p>Обладатели Модера имеют доступ к 1 возрождению в каждом раунде. Используйте /respawn</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/moder/revival-effect.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Эффекты при возрождении</h2>
                <p>Обладатели Модера имеют доступ к выбору эффекта при возрождении</p>
            </div>
            <!-- <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/moder/regen.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Реген хп</h2>
                <p>Обладатели Модера имеют доступ к регенарации <br>10 хп/сек.</p>
            </div> -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/moder/admin.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Администрирование</h2>
                <p>Обладатели Модера имеют доступ к урезанной версии /admin. Так же, им доступна команда /kick</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/moder/coin.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Медали</h2>
                <p>Обладатели Модера имеют доступ к медалям.</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/moder/paintball.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Пейнтболл</h2>
                <p>Обладатели Модера имеют доступ к пейнтболлу. На стенах от выстрелов игрока будут оставаться разноцветные отметки похожие на краску.</p>
            </div>

        </div>
        <br>
    </div>
    <%- include('./partials/footer.ejs'); %>

    <%- include('./partials/body-scripts.ejs'); %>
</body>
</html>