<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <%- include('./partials/navbar.ejs'); %>

        <div>
            <div class="container">
                <div class="text-center text-dark" style='padding: 0px 0px 80px'>
                    <h1 style='margin-top: 190px'>Содержимое рулетки</h1>
                    <h5>Рулетка не выдаётся за автодонат</h5>
                    <a href="/donate" class='text-secondary text-decoration-none'>Назад</a>
                </div>
            </div>
        </div>
        <div class='container marketing'>
            <h3>При оплате указывайте: <span class='text-secondary'>"Рулетка. Ваш VK"</span> или напишите в группу о совершении покупки.</h3>
            <!-- common -->
            <img src="/img/donate/cards/common/nothing.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/common/5000-exp.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/common/5000-credits.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/common/discount-5.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/common/premium-1d.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/common/vip-14d.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/common/clan-create.png" style='width:100%; height:100%; max-width:160px' alt="">
            <!-- uncommon -->
            <img src="/img/donate/cards/uncommon/10000-exp.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/uncommon/10000-credits.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/uncommon/discount-10.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/uncommon/premium-7d.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/uncommon/vip-30d.png" style='width:100%; height:100%; max-width:160px' alt="">
            <!-- rare -->
            <img src="/img/donate/cards/rare/15000-exp.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/rare/15000-credits.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/rare/discount-15.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/rare/premium-30d.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/rare/vip-perm.png" style='width:100%; height:100%; max-width:160px' alt="">
            <!-- epic -->
            <img src="/img/donate/cards/epic/20000-exp.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/epic/20000-credits.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/epic/moder-14d.png" style='width:100%; height:100%; max-width:160px' alt="">
            <img src="/img/donate/cards/epic/premium-perm.png" style='width:100%; height:100%; max-width:160px' alt="">
            <!-- legendary -->
            <img src="/img/donate/cards/legendary/moder-perm.png" style='width:100%; height:100%; max-width:160px' alt="">
        </div>
        <%- include('./partials/footer.ejs'); %>

            <%- include('./partials/body-scripts.ejs'); %>
</body>

</html>