<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <%- include('./partials/navbar.ejs'); %>

    <div>
        <div class="container">
            <div class="text-center text-dark" style = 'padding: 0px 0px 80px'>
                <h1 style = 'margin-top: 190px'>Подробнее о Вип</h1>
                <a href="/donate" class = 'text-secondary text-decoration-none'>Назад</a>
            </div>
        </div>
    </div>
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/vip/prefix.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Префиксы</h2>
                <p>Обладатели VIP-статуса имеют доступ к нескольким префиксам на выбор</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/vip/neon.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Неон</h2>
                <p>Обладатели VIP-статуса имеют доступ к неону</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle"width="140" height="140" src = '/img/donate/gift.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>    
                <h2>Бонусы</h2>
                <p>Обладатели VIP-статуса получают в 1.2 раза больше опыта и кредитов. Так же у них действует 5% скидка в /shop</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/vip/tracers.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Трасеры</h2>
                <p>Обладатели VIP-статуса имеют доступ к следам (трасерам) от пуль</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/vip/killscreen.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Эффект при смерти</h2>
                <p>Обладатели VIP-статуса имеют доступ к цветному эффекту при смерти</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src = '/img/donate/vip/hitmarker.png' aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
                <h2>Хитмаркер</h2>
                <p>Обладатели VIP-статуса имеют доступ к хитмаркеру, показывающему крестик при попадание в противниках</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Уникальные скины для<span class="text-muted"> VIP-игроков</span></h2>
                <p class="lead">Обладатели VIP-статуса имеют эксклюзивные скины, доступные только донатерам: Maverick и MOTOKO</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-pill" src = '/img/donate/vip/skin.jpg' aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">20+ кастомных скайбоксов</h2>
                <p class="lead">У всех обладателей VIP-статуса или более высокой привилегии, есть доступ к смене скайбокса. На данный момент, можно выбрать среди более 20-и скайбоксов.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-pill" src = '/img/donate/vip/skybox.jpg' aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Предугадывание траектории гранаты</h2>
                <p class="lead">У всех обладателей VIP-статуса или более высокой привилегии, есть доступ к включению показа траектории броска гранаты.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-pill" src = '/img/donate/vip/predict.jpg' aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title></img>
            </div>
        </div>
        <br>

        <!-- /END THE FEATURETTES -->

    </div>
    <%- include('./partials/footer.ejs'); %>

    <%- include('./partials/body-scripts.ejs'); %>
</body>
</html>