<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <%- include('./partials/navbar.ejs'); %>

        <div style='padding: 100px 0 549px' id='start'>
            <div class="container">
                <div class="text-center text-dark">
                    <h1 style='margin-top: 190px'>Сетка серверов Fame</h1>
                    <span class='fs-4'>Приятное и доброе комьюнити, высокий и стабильный онлайн, хороший хостинг - всё это, <br> ждёт вас на нашем сервере</span>
                </div>
            </div>
        </div>
        <div id='servers'>
            <div class="container">
                <h1 class="text-center">Наши сервера</h1>
                <div class='d-flex' style='margin-top: 80px'>
                    <div class="server-item" style='background: linear-gradient(to bottom, #212529, #212529); border-radius: 21px; margin-right: 50px'>
                        <div class="servers-image" style='width: 160px; height: 240px; position: relative;'>
                            <img style='display: block; opacity: 0.5; border-radius: 21px;' src='/img/servers/awp_lego.png' alt=''>
                            <div class='position-absolute text-light text-center' style='margin: -75px 10px; font-size: 14px'>AWP Bhop #1 128tick</div>
                            <div class='position-absolute text-light' style='margin: -100px 25px; font-size: 12px'>185.248.100.95:27101</div>
                        </div>
                    </div>
                    <div class="server-item" style='background: linear-gradient(to bottom, #212529, #212529); border-radius: 21px;  margin-right: 50px'>
                        <div class="servers-image" style='width: 160px; height: 240px; position: relative;'>
                            <img style='display: block; opacity: 0.5; border-radius: 21px;' src='/img/servers/public.png' alt=''>
                            <div class='position-absolute text-light text-center' style='margin: -75px 35px; font-size: 14px'>Public #1 128tick</div>
                            <div class='position-absolute text-light' style='margin: -100px 25px; font-size: 12px'>193.163.203.20:27015</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section style='margin-top: 50px; padding-bottom: 50px' id='edges'>
            <div class="container">
                <div class="section-header">
                    <h1 class="text-center">Почему мы?</h1>
                </div>
                <div class="d-flex flex-row mb-3" style='margin-top: 50px'>
                    <div class="edges-item" style='flex: 1 1 0; padding-left: 85px; padding-right: 35px; position: relative;'>
                        <img class='edges-icon position-absolute' style='top: 0; left: 28px; z-index: 1;' src='img/svg/updates.svg' alt=''>
                        <div class="edges-title " style=' margin-bottom: 10px; font-size: 14px; color: #333; text-transform: uppercase;'>Обновления</div>
                        <div class="edges-text" style='font-size: 15px; color: #999;'>Мы всегда стараемся оставаться в центре событий и обновлять сервер регулярно.</div>
                    </div>
                    <div class="edges-item" style='flex: 1 1 0; padding-left: 85px; padding-right: 35px; position: relative;'>
                        <img class='edges-icon position-absolute' style='top: 0; left: 28px; z-index: 1;' src='img/svg/rifle.svg' alt=''>
                        <div class="edges-title" style=' margin-bottom: 10px; font-size: 14px; color: #333; text-transform: uppercase;'>Бесплатные скины</div>
                        <div class="edges-text" style='font-size: 15px; color: #999;'>Для вашего комфорта, мы сделали все скины и перчатки бесплатными.</div>
                    </div>
                    <div class="edges-item" style='flex: 1 1 0; padding-left: 85px; padding-right: 35px; position: relative;'>
                        <img class='edges-icon position-absolute' style='top: 0; left: 28px; z-index: 1;' src='img/svg/admin.svg' alt=''>
                        <div class="edges-title" style=' margin-bottom: 10px; font-size: 14px; color: #333; text-transform: uppercase;'>Отзывчивая администрация</div>
                        <div class="edges-text" style='font-size: 15px; color: #999;'>Администрация проекта всегда идёт на встречу игрокам и пытается решить возникшие вопросы.</div>
                    </div>
                </div>
                <br>
                <div class="d-flex flex-row mb-3" style='margin-top: 50px'>
                    <div class="edges-item" style='flex: 1 1 0; padding-left: 85px; padding-right: 35px; position: relative;'>
                        <img class='edges-icon position-absolute' style='top: 0; left: 28px; z-index: 1;' src='img/svg/stability.svg' alt=''>
                        <div class="edges-title" style=' margin-bottom: 10px; font-size: 14px; color: #333; text-transform: uppercase;'>Стабильность</div>
                        <div class="edges-text" style='font-size: 15px; color: #999;'>Мы постоянно следим за стабильностью и работоспособностью наших серверов.</div>
                    </div>
                    <div class="edges-item" style='flex: 1 1 0; padding-left: 85px; padding-right: 35px; position: relative;'>
                        <img class='edges-icon position-absolute' style='top: 0; left: 28px; z-index: 1;' src='img/svg/ping.svg' alt=''>
                        <div class="edges-title" style=' margin-bottom: 10px; font-size: 14px; color: #333; text-transform: uppercase;'>Низкий пинг</div>
                        <div class="edges-text" style='font-size: 15px; color: #999;'>Все наши сервера расположены в Москве. Благодаря этому, у всех наших игроков будет низкий пинг.</div>
                    </div>
                    <div class="edges-item" style='flex: 1 1 0; padding-left: 85px; padding-right: 35px; position: relative;'>
                        <img class='edges-icon position-absolute' style='top: 0; left: 28px; z-index: 1;' src='img/svg/donate.svg' alt=''>
                        <div class="edges-title" style=' margin-bottom: 10px; font-size: 14px; color: #333; text-transform: uppercase;'>Косметический донат</div>
                        <div class="edges-text" style='font-size: 15px; color: #999;'>Большая часть донатных привилегий играет только косметические функции.</div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('./partials/footer.ejs'); %>

            <%- include('./partials/body-scripts.ejs'); %>
</body>

</html>