<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <%- include('./partials/navbar.ejs'); %>
        <div style='margin-bottom: 165px'>
            <div class="container">
                <div class="text-center text-dark" style='padding: 0px 0px 80px'>
                    <h1 style='margin-top: 190px'>Скачать лаунчер</h1>
                </div>
                <div class="row row-cols-1 row-cols-md-3 text-center">
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 200px; max-height:280px; width: 200px; height:280px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px;'>
                            <img class='mx-auto d-block' style='width: 95%; max-width: 128px; border-radius: 21px; box-shadow: 0 13px 68px rgba(8,9,12,.29);' src='/img/launcher/windows.png' alt='Скачать для Windows'>
                            <h3 class="card-title text-dark" style='margin: 10px 0 15px;'>Win</h3>
                            <a href='https://dle.fame-community.ru/launcher/Launcher.exe' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Скачать</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 200px; max-height:280px; width: 200px; height:280px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px;'>
                            <img class='mx-auto d-block' style='width: 95%; max-width: 128px; max-height: 128px; border-radius: 21px; box-shadow: 0 13px 68px rgba(8,9,12,.29);' src='/img/launcher/linux.png' alt='Скачать для Linux'>
                            <h3 class="card-title text-dark" style='margin: 10px 0 15px;'>Linux</h3>
                            <a href='https://dle.fame-community.ru/launcher/Launcher.jar' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary mx-auto d-block" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px'>Скачать</button></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mx-auto bg-light" style='max-width: 200px; max-height:280px; width: 200px; height:280px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px;'>
                            <img class='mx-auto d-block' style='width: 95%; max-width: 128px; border-radius: 21px; box-shadow: 0 13px 68px rgba(8,9,12,.29);' src='/img/launcher/macos.png' alt='Скачать для MacOS'>
                            <h3 class="card-title text-dark" style='margin: 10px 0 15px;'>Mac OS</h3>
                            <a href='https://dle.fame-community.ru/launcher/Launcher.jar' class='text-decoration-none'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin-bottom: 10px;'>Скачать</button></a>
                        </div>
                    </div>
                </div>
                <h2 class = 'text-dark' style='margin-top: 50px;'>Что-то не работает? Скиньте логи мне в лс, чтобы я мог вам помочь</h2>
                <h3 class = 'text-dark' style='margin-top: 15px;'>Q: Как скинуть логи?</h3>
                <span class = 'text-dark' style="font-size: 18px;">A: Следуйте инструкции:</span>
                <ol>
                    <li class="text-decoration-none">Вы должны скачать версию лаунчера для Linux (даже если у вас Windows)</li>
                    <li class="text-decoration-none">Скачайте <a href='https://dle.fame-community.ru/launcher/start.bat'>этот</a> файл (Если у вас Windows) или <a href='https://dle.fame-community.ru/launcher/start.sh'>этот</a> файл (Если у вас Linux) и поместите в туже папку, куда вы скачали лаунчер Linux`а</li>
                    <li class="text-decoration-none">Запустите скачанный файл (start.bat // start.sh)</li>
                    <li class="text-decoration-none">Если вы всё сделали правильно, то у вас запустится лаунчер и консолька (не закрывайте консоль, иначе закроется лаунчер!)</li>
                    <a href="/img/launcher/launcher.png" class="ulightbox" target="_blank" title="Нажмите, для просмотра в полном размере..."><img style='width: 95%; max-width: 356px; border-radius: 8px; box-shadow: 0 13px 68px rgba(8,9,12,.29);' src='/img/launcher/launcher.png' alt='Внешний вид лаунчера'></a>
                    <li class="text-decoration-none">Сделайте те действия, которые вызывают ошибку</li>
                    <li class="text-decoration-none">Отправьте лог из консоли, начинающийся с [ERROR] или весь лог, если вам сложно найти ошибку, мне в личку дискорда Toil#8997. Не забудьте подписать, на каком моменте происходит ошибка</li>
                    <a href="/img/launcher/launcher_error.jpg" class="ulightbox" target="_blank" title="Нажмите, для просмотра в полном размере..."><img style='width: 95%; max-width: 356px; border-radius: 8px; box-shadow: 0 13px 68px rgba(8,9,12,.29);' src='/img/launcher/launcher_error.jpg' alt='Пример ошибки'></a>
                    <li class="text-decoration-none">Ждите ответа и не спамьте :></li>
            </div>
        </div>
        <%- include('./partials/footer.ejs'); %>

            <%- include('./partials/body-scripts.ejs'); %>
</body>

</html>