<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body>
    <%- include('./partials/navbar.ejs'); %>

    <main class="form-signin" style = 'height: 78vh;'>
        <div class="container text-center">
            <form style = 'margin-top: 150px'>
                <div class="mx-auto bg-light" style = 'max-width: 750px; padding: 15px 15px 15px 15px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29)'>
                    <h1 class="text-center text-dark" style = 'margin: 10px 0 35px'>Пополнение</h1>
                    <p class = 'text-center text-dark fs-5'>Не забывайте указывать ссылку на ваш стим аккаунт в комментарии перевода.</p>
                    <div class="row row-cols-2 row-cols-md-5 text-center">
                        <div class="col">
                            <div class="mx-auto bg-light" id = 'refill-qiwi' style = 'max-width: 200px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px; cursor: pointer'>
                                <img src="img/refill/qiwi.svg" style = 'width: 100%; max-width: 70px; height: 81px; vertical-align: middle;' title="Qiwi">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mx-auto bg-light" id = 'refill-yoomoney' style = 'max-width: 200px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px; cursor: pointer'>
                                <img src="img/refill/yoomoney.svg" style = 'width: 100%; max-width: 70px; height: 81px; vertical-align: middle;' title="YooMoney">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mx-auto bg-light" id = 'refill-cards' style = 'max-width: 200px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px; cursor: pointer'>
                                <img src="img/refill/yoomoney-card.svg" style = 'width: 100%; max-width: 70px; height: 81px; vertical-align: middle;' title="Карты">
                            </div>
                        </div>
                        <!-- <div class="col">
                            <div class="mx-auto bg-light" id = 'refill-advcash' style = 'max-width: 200px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px; cursor: pointer'>
                                <img src="img/refill/advcash.svg" style = 'width: 100%; max-width: 70px; height: 81px; vertical-align: middle;' title="AdvCash">
                            </div>
                        </div> -->
                        <div class="col">
                            <div class="mx-auto bg-light" id = 'refill-payeer' style = 'max-width: 200px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px; cursor: pointer'>
                                <img src="img/refill/payeer.svg" style = 'width: 100%; max-width: 70px; height: 81px; vertical-align: middle;' title="Payeer">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mx-auto bg-light" id = 'refill-enot' style = 'max-width: 200px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px; cursor: pointer'>
                                <img src="img/refill/enot-io.svg" style = 'width: 100%; max-width: 70px; height: 81px; vertical-align: middle;' title="Enot.io">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mx-auto bg-light" id = 'refill-donationalerts' style = 'max-width: 200px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px; cursor: pointer'>
                                <img src="img/refill/donationalerts.svg" style = 'width: 100%; max-width: 70px; height: 81px; vertical-align: middle;'  title="DonationAlerts">
                            </div>
                        </div>
                        <div class="col">
                            <div class="mx-auto bg-light" id = 'refill-donatepay' style = 'max-width: 200px; height: 81px; border-radius: 18px; box-shadow: 0 13px 68px rgba(8,9,12,.29); margin-bottom: 25px; cursor: pointer'>
                                <img src="img/refill/donatepay.png" style = 'width: 100%; max-width: 70px; height: 35px; vertical-align: middle; margin-top: 20px;' title="DonatePay">
                            </div>
                        </div>
                    </div>
                    <a class = 'text-decoration-none' id = 'refill-link' href = '#'><button type="button" class="btn btn-lg btn-outline-primary" style = 'box-shadow: 0 13px 68px rgba(8,9,12,.29); min-width: 150px; margin: 30px 0 10px'>Пополнить</button></a>
                </div>
            </form>
        </div>
    </main>

    <script type = "text/javascript" src = "libs/refill-manual.js"></script>

    <%- include('./partials/footer.ejs'); %>

    <%- include('./partials/body-scripts.ejs'); %>
</body>
</html>