<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <%- include('./partials/navbar.ejs'); %>

        <div>
            <div class="container">
                <div class="text-center text-dark" style='padding: 0px 0px 80px'>
                    <h1 style='margin-top: 190px'>Правила сервера</h1>
                    <a href="/rules" class='text-secondary text-decoration-none'>Назад</a>
                </div>
            </div>
        </div>
        <div>
            <div class="container">
                <div class="rules-server" id='rules-server'>
                    <h4 class='text-dark'>1. Пользователь обязан соблюдать все правила и ограничения, установленные настоящими <a class='text-decoration-none text-primary' href='#' onclick="slowScroll('#rules-server')">«Правилами сервера»</a> и <a class='text-decoration-none text-primary'
                            href='/user-agreement'>«Пользовательским соглашением»</a>.</h4>
                    <h4 class='text-dark'>2. Запрещена продажа/передача/покупка игровых аккаунтов, а так же распространение информации о намерении нарушить данное правило.</h4>
                    <h4 class='text-dark'>3. Запрещено продавать/покупать внутриигровые ценности у других пользователей за реальные деньги/скины.</h4>
                    <h4 class='text-dark'>4. Запрещено создавать и/или использовать на сервере ботов.</h4>
                    <h4 class='text-dark'>5. Запрещено использовать/распространять уязвимости сервера.</h4>
                    <h4 class='text-dark'>6. Запрещено распространение слухов, клеветы, порочащей информации о пользователях или сервере.</h4>
                    <h4 class='text-dark'>7. Запрещено спамить, флудить в чате, приватных сообщениях. Использовать сервер для организациии незаконной деятельности.</h4>
                    <h4 class='text-dark'>8. Запрещено совершать любые действия, затрудняющие или делающие невозможным доступ к игре на сервере другим пользователям.</h4>
                    <h4 class='text-dark'>9. Запрещено создание ников, кланов содержащих имена создателей сервера, префиксов привилегий.</h4>
                    <h4 class='text-dark'>10. Запрещено распространение, использование или намеренное получение информации, позволяющей получить доступ к учетным записям других пользователей.</h4>
                    <h4 class='text-dark'>11. Запрещено использование читов/скриптов.
                        <span class='text-danger fs-5'>(Правило не действует, если последний запуск стороннего ПО был более 15 дней назад)</span></h4>
                    <h4 class='text-dark'>12. Запрещено в случае обращения в тех.поддержку подавать заведомо ложную информацию.</h4>
                    <h2 class='text-center' style='margin: 100px 0 35px'>~~ Для администрации ~~</h2>
                    <h4 class='text-dark'>13. Запрещено без какой-либо причины выдавать наказания.</h4>
                    <h4 class='text-dark'>14. Запрещено без какой-либо причины выдавать опыт другим игрокам (Можно выдавать не более 5.000 опыта). P.S. Опыт можно выдавать самому себе без ограничений</h4>
                    <h4 class='text-dark'>15. Запрещено без какой-либо причины выдавать привилегии, более чем на 2 часа. Так же запрещено выдавать привилегии выше премиум.</h4>
                    <h4 class='text-dark' style='margin-bottom: 50px'>16. Запрещено злоупотребление правами администратора.</h4>
                </div>
            </div>


            <%- include('./partials/footer.ejs'); %>

                <%- include('./partials/body-scripts.ejs'); %>
</body>

</html>