<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <%- include('./partials/navbar.ejs'); %>

        <div>
            <div class="container">
                <div class="text-center text-dark" style='padding: 0px 0px 80px'>
                    <h1 style='margin-top: 190px'>Правила наших серверов в Minecraft</h1>
                    <a href="/for-familiarization" class='text-secondary text-decoration-none'>Назад</a>
                </div>
            </div>
        </div>
        <div>
            <div class="container">
                <div class="rules-server" id='rules-server'>
                    <h2 class='text-dark'>┇ 1. Общее 🪒</h2>
                    <h4 class='text-dark'>1.1 Каждый пользователь, посетивший проект Fame, автоматически соглашается с данным сводом правил сервера и платформы Minecraft.</h4>
                    <h4 class='text-dark'>1.2 Запрещено использовать читы, скрипты, дюпы, эксплоиты, ботов, баги, авторыбалку и прочее.</h4>
                    <h4 class='text-dark'>1.3 Запрещено использовать ники Красной Администрации.</h4>
                    <h4 class='text-dark'>1.4 Запрещен RMT (Покупка/Продажа чего-либо, за реальные деньги).</h4>
                    <h4 class='text-dark'>1.5 Запрещена продажа/передача/покупка игровых аккаунтов.</h4>
                    <h4 class='text-dark'>1.6 Запрещено вызывать лаги сервера.</h4>
                    <h4 class='text-dark'>1.7 Запрещено портить ландшафт, строить коробки из земли, фаллосы, лить коблогоры и т.д.</h4>
                    <h4 class='text-dark'>1.8 Запрещено вступление в чужой город с целью грабежа и убийств.</h4>
                    <h4 class='text-dark'>1.9 Запрещено приглашать в город с целью убийства.</h4>

                    <br>

                    <span class='text-center text-dark'>Последнее обновление правил: 19.11.2021</span>
                    <span class='text-center text-dark'>Мы никак не связаны с Mojang и Microsoft. Все совпадения случайны.</span>
                    <span class='text-center text-dark'>Рекомендуем купить лицензию майнкрафта</span>
                </div>
            </div>


            <%- include('./partials/footer.ejs'); %>

                <%- include('./partials/body-scripts.ejs'); %>
</body>

</html>