<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <%- include('./partials/navbar.ejs'); %>

        <div style='padding: 100px 0 549px' id='start'>
            <div class="container">
                <div class="text-center text-success">
                    <h1 style='margin-top: 170px'>Оплата прошла</h1>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs'); %>

        <%- include('./partials/body-scripts.ejs'); %>
</body>

</html>